div.divnavbar{
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1000;
}
.navbar {
  position: relative;
  min-height: 80px;
  margin-bottom: 0;
}
.navbar-inverse {
  background-color: #2a3a2a;
  border-color: none;
  /* height: 100px; */
}
.navbar-inverse .navbar-nav>li>a {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
}
.navbar-nav{
  padding-top: 1.3%;
}

.navbar-inverse .navbar-toggle {
  border-color: #333;
  margin-top: 3.1%;
}

form,
#answer{
  margin: 0 auto;
}

#answer {
  text-align: center;
}

#actionButton{
   outline: none;
}
#actionButton:hover{
  background-color: #000;
  outline: none;
}
#reset{
  outline: none;
}
#reset:hover{
  background-color: #000;
  outline: none;
}

input[type=button], input[type=reset] {
  background-color: #314152;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  border: 1px solid #314152;
  border-radius: 5px;
  outline: 0;
}

.buy_or_sale{
background-color: #314152; border: 1px solid #314152; border-radius: 5px;
outline: none;

}

#btn_italian{
  cursor: pointer;
}
#btn_mediterranian{
  cursor: pointer;
}
#btn_modern{
  cursor: pointer;
}
#btn_vaastu{
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  #mySum{
  font-size: 20px;
  color: #00c851;
  font-weight: bold;
  font-family: cursive;
  margin-bottom: 10px;
}
}

#mySum{
  font-size: 20px;
  color: #00c851;
  font-weight: bold;
  font-family: cursive;
  margin-bottom: -60px;
}

form,
#answerM{
  margin: 0 auto;
}

#answerM {
  text-align: center;
}

@media screen and (min-width: 768px) {
  #mySumM{
  font-size: 20px;
  color: #00c851;
  font-weight: bold;
  font-family: cursive;
  margin-bottom: 10px;
}
}

#mySumM{
  font-size: 20px;
  color: #00c851;
  font-weight: bold;
  font-family: cursive;
  margin-bottom: -60px;
}

#actionButtonM{
  outline: none;
}

#actionButtonM:hover{
  background-color: #000;
  outline: none;
}

#resetM{
  outline: none;
}

#resetM:hover{
  background-color: #000;
  outline: none;
}

form,
#answerMo{
  margin: 0 auto;
}

#answerMo {
  text-align: center;
}

@media screen and (min-width: 768px) {
  #mySumMo{
  font-size: 20px;
  color: #00c851;
  font-weight: bold;
  font-family: cursive;
  margin-bottom: 10px;
}
}

#mySumMo{
  font-size: 20px;
  color: #00c851;
  font-weight: bold;
  font-family: cursive;
  margin-bottom: -60px;
}

#actionButtonMo{
  outline: none;
}
#actionButtonMo:hover{
  background-color: #000;
  outline: none;
}

#resetMo{
  outline: none;
}

#resetMo:hover{
  background-color: #000;
  outline: none;
}

form,
#answerV{
  margin: 0 auto;
}

#answerV {
  text-align: center;
}

@media screen and (min-width: 768px) {
  #mySumV{
  font-size: 20px;
  color: #00c851;
  font-weight: bold;
  font-family: cursive;
  margin-bottom: 10px;
}
}

#mySumV{
  font-size: 20px;
  color: #00c851;
  font-weight: bold;
  font-family: cursive;
  margin-bottom: -60px;
}

#actionButtonV{
  outline: none;
}

#actionButtonV:hover{
  background-color: #000;
  outline: none;
}

#resetV{
  outline: none;
}

#resetV:hover{
  background-color: #000;
  outline: none;
}

.jumbotron {
  padding-top: 0px;
  padding-bottom: 0px;
  margin-bottom: 30px;
  color: inherit;
  background-color: #eee;
}
@media screen and (min-width: 768px){
.jumbotron {
    padding-top: 0px;
    padding-bottom: 0px;
}
}

@media screen and (min-width: 768px){
  .navbar {
    border-radius: 0px;
}
}

@media screen and (min-width: 768px){
.carousel-control .glyphicon-chevron-right, .carousel-control .icon-next {
    margin-right: -66px;
}
}

@media screen and (min-width: 768px){
.carousel-control .glyphicon-chevron-left, .carousel-control .icon-prev {
  left: 18%;
}
}

@media screen and (min-width: 768px){
.ex-home-categories .glyphicon-chevron-right, .carousel-control .icon-next {
    margin-right: -50px;
}
}

.open>.dropdown-menu {
  display: block;
  background: #000;
  width: 430px;
}

.dropdown-menu>li>a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: 400;
  line-height: 1.42857143;
  color: #fff;
  white-space: nowrap;
  font-size: 17px;
}

.slidecontainer {
  width: 100%;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 9px;
  border-radius: 5px;
  background: #fff;
  outline: none;
  opacity: 1;
  -webkit-transition: .2s;
  transition: opacity .2s;
  margin-top: 15px;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #337ab7;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #337ab7;
  cursor: pointer;
}
.required_amnt{
    color: #fff; 
    font-weight: bold;
    padding-top: 10px;
}

.form-dark .font-small {
  font-size: 0.8rem; 
}

.form-dark .md-form label {
  color: #fff; }

.form-dark input[type=email]:focus:not([readonly]) {
  border-bottom: 1px solid #00C851;
  -webkit-box-shadow: 0 1px 0 0 #00C851;
  box-shadow: 0 1px 0 0 #00C851; }

.form-dark input[type=email]:focus:not([readonly]) + label {
  color: #fff; }

.form-dark input[type=password]:focus:not([readonly]) {
  border-bottom: 1px solid #00C851;
  -webkit-box-shadow: 0 1px 0 0 #00C851;
  box-shadow: 0 1px 0 0 #00C851; }

.form-dark input[type=password]:focus:not([readonly]) + label {
  color: #fff; }

.form-row .labels-common{
   color: white;
}

.form-row .labels-common-checkboxes{
  color: white;
  padding-left: 3px;
  font-weight: bold;
}

.form-row .labels-common-radios{
  color: white;
  padding-left: 10px;
  font-weight: bold;
}

input[type="checkbox"]{
  width: 15px;
  height: 15px; 
  cursor: pointer;
}

.close-button {
  border: none;
  display: inline-block;
  padding: 8px 16px;
  vertical-align: middle;
  overflow: hidden;
  text-decoration: none;
  color: inherit;
  background-color: inherit;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
}

.topright {
  position: absolute;
  right: 0;
  top: 0
}

/* PRICE CALCULATOR FOR HOUSE DEVELOPEMENT */

.price-box {
  margin: 0 auto;
  background: #314152;
  border-radius: 10px;
  padding: 15px 25px;
  margin-top: 10px;
  margin-right: 20px;
  margin-left: 20px;
}

@media screen and (min-width: 768px){
  .price-box {
    margin: 0 auto;
    background: #314152;
    border-radius: 10px;
    padding: 15px 25px;
    margin-top: 14px;
    margin-right: 20px;
    height: 500px;
  }
}

.ui-widget-content {
  border: 1px solid #bdc3c7;
  background: #e1e1e1;
  color: #222222;
  margin-top: 4px;
}

.ui-slider .ui-slider-handle {
  position: absolute;
  z-index: 2;
  width: 7.2em;
  height: 2.7em;
  cursor: default;
  margin: 0 -40px auto !important;
  text-align: center; 
  line-height: 30px;
  color: #FFFFFF;
  font-size: 12px;
}

.ui-slider .ui-slider-handle .glyphicon {
  color: #FFFFFF;
  margin: 0 1px; 
  font-size: 11px;
  opacity: 0.7;
}

.ui-corner-all {
  border-radius: 20px;
}

.ui-slider-horizontal .ui-slider-handle {
  top: -.9em;
}

.btn-primary {
  color: #fff;
  background-color: #314152;
  border-color: #314152;
}

.ui-state-default,
.ui-widget-content .ui-state-default {
  border: 1px solid #f9f9f9;
  background: #3498db;
}

.ui-slider-horizontal .ui-slider-handle {
  margin-left: -0.5em;
}

.ui-slider .ui-slider-handle {
  cursor: pointer;
}

.ui-slider a,
.ui-slider a:focus {
  cursor: pointer;
  outline: none;
}

.price, .lead p {
  font-weight: 600;
  font-size: 32px;
  display: inline-block;
  line-height: 60px;
  border:0;
  width: 245px;
}

h4.great {
  background: #314152;
  margin: 0 0 25px -60px;
  padding: 7px 15px;
  color: #ffffff;
  font-size: 18px;
  font-weight: 600;
  border-radius: 5px;
  display: inline-block;
  -moz-box-shadow:    2px 4px 5px 0 #ccc;
    -webkit-box-shadow: 2px 4px 5px 0 #ccc;
    box-shadow:         2px 4px 5px 0 #ccc;
}

.total {
  border-bottom: 1px solid #7f8c8d;
  /*display: inline;
  padding: 10px 5px;*/
  position: relative;
  padding-bottom: 20px;
}

.total:before {
  content: "";
  display: inline;
  position: absolute;
  left: 0;
  bottom: 5px;
  /* width: 100%; */
  /* height: 3px; */
  background: #7f8c8d;
  opacity: 0.5;
}

.price-slider {
  margin-bottom: 70px;
}

.price-slider span {
  font-weight: 200;
  display: inline-block;
  color: #7f8c8d;
  font-size: 13px;
}

.form-pricing {
  background: #ffffff;
  padding: 20px;
  border-radius: 4px;
}

@media screen and (min-width: 768px){
  .form-pricing {
    background: #ffffff;
    padding: 20px;
    border-radius: 10px;
    height: 466px;
  }
}

.price-form {
  background: #ffffff;
  margin-bottom: 10px;
  padding: 20px;
  border: 1px solid #eeeeee;
  min-height: 520px;
  border-radius: 4px;
  /*-moz-box-shadow:    0 5px 5px 0 #ccc;
    -webkit-box-shadow: 0 5px 5px 0 #ccc;
    box-shadow:         0 5px 5px 0 #ccc;*/
}

.form-group {
  margin-bottom: 0;
}

.form-group span.price {
  font-weight: 200;
  display: inline-block;
  color: #7f8c8d;
  font-size: 14px;
}

.help-text {
  display: block;
  margin-top: -10px;
  margin-bottom: 10px;
  color: #737373;
  /*position: absolute;*/
  /*margin-left: 20px;*/
  font-weight: 200;
  /*text-align: right;*/
  width: 188px;
}

.price-form label {
  font-weight: 200;
  font-size: 21px;
}

img.payment {
  display: block;
    margin-left: auto;
    margin-right: auto
}

.ui-slider-range-min {
  background: #2980b9;
}

.active-month,
.active-term {
  background: #3276b1;
}

/* HR */

hr.style {
  margin-top: 0;
    border: 0;
    border-bottom: 1px dashed #ccc;
    background: #999;
}

.jumbotron .row h2{
      text-align: center;
      color: #314152;
      margin-top: 10px;
      font-family: initial;
}

@media screen and (min-width: 768px){
  .jumbotron .row h2{
      text-align: center;
      color: #314152;
      margin-top: 15px;
      font-family: initial;
    }
  }


